<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout.html}">
<head>
    
	<meta charset="UTF-8">
	<title>AccountingList</title>

</head>
<body>
	<div layout:fragment="content" class="text-left">
	
		 <h3>流水帳管理</h3>
		 <a href="/AccountingList">流水帳紀錄</a>
		 <img th:src="@{/arrow.png}" width="16" height="16">
		 流水帳管理
		 <br /><br />&nbsp;&nbsp;
		 <input type="submit" class="btn btn-outline-dark" name="btnAdd" value="Add" id="btnAdd" />&emsp;&emsp;
		 <input type="submit" class="btn btn-outline-dark" name="btnDel" value="Del" id="btnDel" />
		 &emsp;&emsp;&emsp;&emsp;&emsp;<label id="lblCount" style="font-size:20px;" >小計 [[${count}]] 元</label>
		 <br /><br />
		 
		 這裡顯示gridview及分頁功能
		 
		<table cellspacing="0" cellpadding="4"
			id="ContentPlaceHolder1_gvAccountingList"
			style="color: #333333; border-collapse: collapse;">
			<tr
				style="color: White; background-color: #507CD1; font-weight: bold;">
				<th scope="col">建立日期</th>
				<th scope="col">分類</th>
				<th scope="col">收 / 支</th>
				<th scope="col">金額</th>
				<th scope="col">標題</th>
				<th scope="col">Act</th>
			</tr>
			<tr style="background-color: #EFF3FB;">
				<td>2021-08-19</td>
				<td>我的分類1</td>
				<td><span
					id="ContentPlaceHolder1_gvAccountingList_lblActType_0"
					style="color: Blue;">收入</span></td>
				<td>35456</td>
				<td>453645645655</td>
				<td><a
					href="/SystemAdmin/AccountingRecord/AccountingDetail.aspx?ID=5">修改</a>
				</td>
			</tr>
			<tr style="background-color: White;">
				<td>2021-08-19</td>
				<td>我的分類1</td>
				<td><span
					id="ContentPlaceHolder1_gvAccountingList_lblActType_1"
					style="color: Blue;">收入</span></td>
				<td>123</td>
				<td>QWE</td>
				<td><a
					href="/SystemAdmin/AccountingRecord/AccountingDetail.aspx?ID=6">修改</a>
				</td>
			</tr>
			<tr style="background-color: #EFF3FB;">
				<td>2021-08-12</td>
				<td>我的分類1</td>
				<td><span
					id="ContentPlaceHolder1_gvAccountingList_lblActType_2"
					style="color: Blue;">收入</span></td>
				<td>123</td>
				<td>QWE</td>
				<td><a
					href="/SystemAdmin/AccountingRecord/AccountingDetail.aspx?ID=7">修改</a>
				</td>
			</tr>
			<tr style="background-color: White;">
				<td>2021-08-12</td>
				<td>我的分類1</td>
				<td><span
					id="ContentPlaceHolder1_gvAccountingList_lblActType_3"
					style="color: Blue;">收入</span></td>
				<td>123</td>
				<td>QWE</td>
				<td><a
					href="/SystemAdmin/AccountingRecord/AccountingDetail.aspx?ID=8">修改</a>
				</td>
			</tr>
			<tr style="background-color: #EFF3FB;">
				<td>2021-08-12</td>
				<td>我的分類1</td>
				<td><span
					id="ContentPlaceHolder1_gvAccountingList_lblActType_4"
					style="color: Blue;">收入</span></td>
				<td>123</td>
				<td>QWE</td>
				<td><a
					href="/SystemAdmin/AccountingRecord/AccountingDetail.aspx?ID=9">修改</a>
				</td>
			</tr>
		</table>

	</div>
</body>
