<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout.html}">
<head>
    
	<meta charset="UTF-8">
	<title>CategoryDetail</title>
	
</head>
<body>
	<div layout:fragment="content" class="text-left">
		<form method="post" action="" id="form1">
		 <h3>流水帳分類管理</h3>
		 <a href="/CategoryList">流水帳紀錄</a>
		 <img th:src="@{/arrow.png}" width="16" height="16">
		 流水帳分類管理
		 <br /><br />
		 
		 <table>
			 <tr valign="top">
				 <td>標題&emsp;&emsp;&emsp;</td>
				 <td><input type="text" id="txtCaption" name="txtCaption" th:value="${caption}" style="width:300px" MaxLength="20" placeholder="請輸入標題(最多20字)" required><br /><br /></td>
			 </tr>
			 <tr valign="top">
			 	<td>備註&emsp;&emsp;&emsp;</td>
				<td><textarea id="txtBody" name="txtBody" th:text="${body}" rows="4" cols="50" style="width:300px" placeholder="請輸入備註"></textarea></td>
			 </tr>
		 </table>
		 
		 <br /><br />
		 <input type="submit" class="btn btn-outline-dark" name="btnSave" value="Save" id="btnSave" />
		 
		 </form>
	</div>
</body>
