<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout.html}">
<head>
    
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
</head>
<body>
	<div layout:fragment="content" class="text-left">
	
		 <h3>流水帳分類管理</h3>
		 流水帳紀錄
		 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
 		 	<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
		 </svg>
		 流水帳分類管理
		 <br /><br />
		 
		 <table>
			 <tr valign="top">
				 <td>標題&emsp;&emsp;&emsp;</td>
				 <td><input type="text" id="txtCaption" name="txtCaption" th:value="${caption}" style="width:300px" required ><br /><br /></td>
			 </tr>
			 <tr valign="top">
			 	<td>備註&emsp;&emsp;&emsp;</td>
				<td><textarea id="txtNote" name="txtNote" rows="4" cols="50" style="width:300px" required >[[${note}]]</textarea></td>
			 </tr>
		 </table>
		 
		 <br /><br />
		 <input type="submit" class="btn btn-outline-dark" name="btnSave" value="Save" id="btnSave" />
		 
		 
	</div>
</body>
