<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout.html}">
<head>
    
	<meta charset="UTF-8">
	<title>UserDetail</title>

</head>
<body>
	<div layout:fragment="content" class="text-left">
	
		 <h3>會員管理</h3>
		 <a href="/UserList">管理者後台</a>
		 <img th:src="@{/arrow.png}" width="16" height="16">
		 會員管理
		 <br /><br />
		 
		 <table>
		 	 <tr valign="top">
				 <td>帳號&emsp;&emsp;&emsp;</td>
				 <td>[[${account}]]<br /><br /></td>
			 </tr>
			 <tr valign="top">
				 <td>姓名&emsp;&emsp;&emsp;</td>
				 <td><input type="text" id="txtName" name="txtName" style="width:300px" th:value="${name}" required ><br /><br /></td>
			 </tr>
			 <tr valign="top">
				 <td>Email&emsp;&emsp;&emsp;</td>
				 <td><input type="email" id="txtEmail" name="txtEmail" style="width:300px" th:value="${email}" required ><br /><br /></td>
			 </tr>
			 <tr valign="top">
				 <td>等級&emsp;&emsp;&emsp;</td>
				 <td><select id="ddlLevel" name="ddlLevel">
				 	 <option value="user">一般會員</option>
					 <option value="manager">管理者</option>
				 </select><br /><br /></td>
			 </tr>
			 <tr valign="top">
				 <td>建立時間&emsp;&emsp;&emsp;</td>
				 <td>[[${createTime}]]<br /><br /></td>
			 </tr>
			 <tr valign="top">
				 <td>修改時間&emsp;&emsp;&emsp;</td>
				 <td>[[${updateTime}]]<br /><br /></td>
			 </tr>
		 </table>
		 
		 <br /><br />
		 
		 <input type="submit" class="btn btn-outline-dark" name="btnSave" value="Save" id="btnSave" />&emsp;&emsp;
		 <input type="submit" class="btn btn-outline-dark" name="btnDel" value="Delete" id="btnDel" />
	</div>
</body>
